* {
	/*border: 1px solid rgba(255,255,255,0.3);*/
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-family: "Lucida Console";
	
}

html {
	height: 100%;
	min-height: 1500;
	background-image: url("grey-website-background.jpg");
}

.site {
	background-color: rgba(0,0,0,0.9);
	min-width: 700px;
	max-width: 1000px;
	width: 75%;
	margin: auto;
	border-left: 1px solid rgb(50,50,50);
	border-right: 1px solid rgb(50,50,50);
	border-top: 1px solid Black;
	min-height: 750px;
	
}

h1 {
	color: White;
	text-align: center;
	margin: .8em;
	font-size: 3.0em;
	background-color: rgba(0,0,0,0);
}

.navigation {
	font-size: 20px;
	padding-top: .8em;
	padding-bottom: .8em;
	background-color: rgb(50,50,50);
}

.navigation ul {
    list-style-type: none;
	text-align: center;
	background-color: rgb(50,50,50);
} 

.navigation li {
	display: inline;
	background-color: rgb(50,50,50);
}

.navigation a {
	text-decoration: none;
	color: Lime;
	border: 2px solid Black;
	border-radius: 20px;
	padding: 3px 5px 3px 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: Black;
}

.content {
	width: 75%;
	margin: auto;
}

.content h2 {
	color: White;
	margin: 10px 0px;
	font-size: 30px;
}

.content a {
	text-decoration: none;
	color: DarkPurple;
}

.content p {
	font-size: 18px;
	color: White;
}

